/*-------------
General styles
 -------------*/

.center-items {
    text-align: center;
    margin: auto;
    position: center;

}
html, body {
    height: 100%; /*Fixes the height to 100% of the viewport*/
}
body {
    padding-top: 87px; /*50px for the height of the navbar + 37px for the offset*/
    padding-bottom: 50px; /*50px for the height of the bottom navbar*/
}
nav  {
    top: 37px; /*Offsets the top navbar 37px from the top of the viewport*/
}

/*-------------
Banner styles
 -------------*/

.banner{
    background-image: url("../resources/diet-banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.banner-content{
    height: 100vh;
    background-color: rgba(70,70,70,0.7);
}

.banner-content h1{
    font-family: 'Satisfy', cursive;
    font-size: 25vh;
    color: white;
}

.banner-content h3{
    font-family: 'Neuton', serif;
    font-size: 10vh;
    color: rgb(207,164,60);
}

.start-button{
    font-family: 'Mukta Mahee', sans-serif;
}

/*-------------
About styles
 -------------*/

.about{
    background: rgb(207,164,60);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    height: 100vh;
}

.about-content{
    height: 100vh;
}

.about-content h1{
    font-family: 'Satisfy', cursive;
    font-size: 10vh;
    color: white;
}

.about-content p{
    font-family: 'Neuton', cursive;
    font-size: 5vh;
    color: rgb(70,70,70);
}

/*------------
Content Adjustment Styles
 ------------*/

@media (max-width: 768px) {
    .banner-content h1{
        font-family: 'Satisfy', cursive;
        font-size: 10vh;
        color: white;
    }

    .banner-content h3{
        font-family: 'Neuton', cursive;
        font-size: 5vh;
        color: rgb(207,164,60);
    }

    .start-button{
        font-family: 'Mukta Mahee', sans-serif;
    }

    .about{
        background: rgb(207,164,60);
        background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    }

    .about-content{
        border-top: solid rgba(0,0,0,0) 5vh;
        border-bottom: solid rgba(0,0,0,0) 5vh;
    }

    .about-content h1{
        font-family: 'Satisfy', cursive;
        font-size: 7vh;
        color: white;
    }

    .about-content p{
        font-family: 'Neuton', cursive;
        font-size: 4vh;
        color: rgb(70,70,70);
    }
}
/*-------------
General styles
 -------------*/

.center-items {
    text-align: center;
    margin: auto;
    position: center;
    flex: 1;
    justifyContent: 'center';
    alignItems: 'center';

}

/*-------------
Banner styles
 -------------*/

.banner{
    background-image: url("./../resources/diet-banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.banner-content{
    height: 100vh;
    background-color: rgba(70,70,70,0.7);
}

.banner-content h1{
    font-family: 'Satisfy', cursive;
    font-size: 25vh;
    color: white;
}

.banner-content h3{
    font-family: 'Neuton', serif;
    font-size: 10vh;
    color: rgb(207,164,60);
}

.start-button{
    font-family: 'Mukta Mahee', sans-serif;
}

/*-------------
About styles
 -------------*/

.about{
    background: rgb(207,164,60);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    height: 100vh;
}

.about-content{
    height: 100vh;
}

.about-content h1{
    font-family: 'Satisfy', cursive;
    font-size: 10vh;
    color: white;
}

.about-content p{
    font-family: 'Neuton', cursive;
    font-size: 5vh;
    color: rgb(70,70,70);
}

.auth-text{
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 5vh;
}

/*------------
Content Adjustment Styles
 ------------*/

@media (max-width: 768px) {
    .banner-content h1{
        font-family: 'Satisfy', cursive;
        font-size: 10vh;
        color: white;
    }

    .banner-content h3{
        font-family: 'Neuton', cursive;
        font-size: 5vh;
        color: rgb(207,164,60);
    }

    .start-button{
        font-family: 'Mukta Mahee', sans-serif;
    }

    .about{
        background: rgb(207,164,60);
        background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    }

    .about-content{
        border-top: solid rgba(0,0,0,0) 5vh;
        border-bottom: solid rgba(0,0,0,0) 5vh;
    }

    .about-content h1{
        font-family: 'Satisfy', cursive;
        font-size: 7vh;
        color: white;
    }

    .about-content p{
        font-family: 'Neuton', cursive;
        font-size: 4vh;
        color: rgb(70,70,70);
    }
}

.center-items {
    text-align: center;
    margin: auto;
    position: center;
}

#challenge-today{
    height: 100vh;
}

.challenge-items{
    height: 100vh;
}

.progress{
    padding: 1%;
}

.label-progress{
    width:20%
}
h1{
    text-align: center;
}

card{
    margin:2%;
    padding:4%;
}

.foodSearchInput{
    width:89%;
}
.buttonsDiv{
    margin:2%;
}

#newDayModal > div:nth-child(1) > div:nth-child(1){
    width:150%;
}
#newDayModal > div:nth-child(1) > div:nth-child(1) > div:nth-child(2){
    margin: 2%;
}
.row{
    width:100%;
}
#weight-chart{
    height: 30%;
    width: 30%;
}