.center-items {
    text-align: center;
    margin: auto;
    position: center;
}

#challenge-today{
    height: 100vh;
}

.challenge-items{
    height: 100vh;
}

.progress{
    padding: 1%;
}

.label-progress{
    width:20%
}
h1{
    text-align: center;
}

card{
    margin:2%;
    padding:2%;
}

.foodSearchInput{
     width:89%;
}
.buttonsDiv{
    margin:2%;
}