/*-------------
General styles
 -------------*/

.center-items {
    text-align: center;
    margin: auto;
    position: center;

}

/*-------------
Banner styles
 -------------*/

.banner{
    background-image: url("../resources/diet-banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.banner-content{
    height: 100vh;
    background-color: rgba(70,70,70,0.7);
}

.banner-content h1{
    font-family: 'Satisfy', cursive;
    font-size: 25vh;
    color: white;
}

.banner-content h3{
    font-family: 'Neuton', serif;
    font-size: 10vh;
    color: rgb(207,164,60);
}

.start-button{
    font-family: 'Mukta Mahee', sans-serif;
}

/*-------------
About styles
 -------------*/

.about{
    background: rgb(207,164,60);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    height: 100vh;
}

.about-content{
    height: 100vh;
}

.about-content h1{
    font-family: 'Satisfy', cursive;
    font-size: 10vh;
    color: white;
}

.about-content p{
    font-family: 'Neuton', cursive;
    font-size: 5vh;
    color: rgb(70,70,70);
}

/*------------
Content Adjustment Styles
 ------------*/

@media (max-width: 768px) {
    .banner-content h1{
        font-family: 'Satisfy', cursive;
        font-size: 10vh;
        color: white;
    }

    .banner-content h3{
        font-family: 'Neuton', cursive;
        font-size: 5vh;
        color: rgb(207,164,60);
    }

    .start-button{
        font-family: 'Mukta Mahee', sans-serif;
    }

    .about{
        background: rgb(207,164,60);
        background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    }

    .about-content{

    }

    .about-content h1{
        font-family: 'Satisfy', cursive;
        font-size: 7vh;
        color: white;
    }

    .about-content p{
        font-family: 'Neuton', cursive;
        font-size: 4vh;
        color: rgb(70,70,70);
    }
}